<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gestor de Aplicaciones y Despliegues{% endblock %}</title>
    
    <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.5/dist/materia/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css">

    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% nav
          url=path('')
          title="Gestor de aplicaciones y despliegues" smallTitle="Aplicaciones" %}
        {% navLink url=path('credentials') %} Credenciales {% endnavLink %}
        {% navLink url=path('packages') %} Paquetes {% endnavLink %}
        {% navLink url=path('configuration') %} Configuracion {% endnavLink %}
    {% endnav %}

    {% main %}
        {% block content %}{% endblock %}
    {% endmain %}
    
    {% footer %}
        <p>&copy; {{ "now"|date("Y") }} Gestor de Aplicaciones y Despliegues</p>
    {% endfooter %}
    
    {% block javascripts %}{% endblock %}
</body>
</html>